body{
    display:flex;
    justify-content: center;
    height:85vh;
    background-color: antiquewhite;
    font-family: "Lucida Calligraphy", "Brush Script MT", "Segoe Script", cursive;
}
.hidden {
    display: none;
}
.show {
    display: block; /* Make sure it's visible */
    background-color: #ecdbbd;
    color: rgb(98, 14, 14);
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    width:400px;
    height:40px;
    text-align: center;
    align-content: center;
    padding:15px;
    font-size: 16px;
}
#close_alert {
    color: rgb(98, 14, 14);
    background: none;
    border: none;
    cursor: pointer;
    float:right;
    font-size:20px;
    font-weight: bold;
}
#reg-form input{
    padding:10px;
    margin:10px;
    font-family: "Lucida Calligraphy", "Brush Script MT", "Segoe Script", cursive;
    color: #604926;
    font-size: 20px;
    border:none;
    outline: none;
    border-radius: 20px;
    background-color: antiquewhite;
}
#already-login{
    color: #604926;
}
#reg-form{
    width: 500px;
    text-align: center;
    background-color: #ecdbbd;
    padding:50px;
    margin:50px;
    height: 450px;
    align-content: center;
    border-radius: 30px;
    box-shadow: 0 0 15px 2px #604926;
    font-family: "Lucida Calligraphy", "Brush Script MT", "Segoe Script", cursive;
    display: grid;
    margin-top:150px;
    position:fixed;
    align-self: center;
}
#reg-form button{
    font-family: "Lucida Calligraphy", "Brush Script MT", "Segoe Script", cursive;
    border-radius:20px;
    padding:10px;
    background-color:#604926;
    border:none;
    color:#ecdbbd;
    margin: 20px;
    font-size: 20px;
    cursor: pointer;
}
#reg-form input::placeholder{
    color: #7c623b;
    opacity: 0.7;
}
.title{
    text-align: center;
    color: #604926;
    font-family: "Lucida Calligraphy", "Brush Script MT", "Segoe Script", cursive;
    margin:20px;
}